[project]
	description = testing the files
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bhaskarsahu
[access "refs/for/refs/*"]
	read = group user/bhaskarsahu
	push = group user/bhaskarsahu
	label-Code-Review = -2..+2 group user/bhaskarsahu
	label-Verified = -1..+1 group user/bhaskarsahu
	rebase = group user/bhaskarsahu
	removeReviewer = group user/bhaskarsahu
	submit = group user/bhaskarsahu
[access "refs/heads/*"]
	read = group user/bhaskarsahu
	create = group user/bhaskarsahu
	push = +force group user/bhaskarsahu
	pushMerge = group user/bhaskarsahu
[access "refs/tags/*"]
	push = group user/bhaskarsahu
	push = +force group user/bhaskarsahu
